<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .f{
            margin-top: 500px;
            margin-left: 500px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body style="background-color: #f7f7f7;">
    <div class="f">
    <h1>Active cases : <%= stotal %></h1>
    <h1>Cured cases : <%= scured %></h1>
    <h1>Deaths : <%= sdeaths %></h1>
</div>
</body>
</html>