<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Total cases  : <%= total  %></h1>
    <h1>active cases  : <%= active %></h1>
    <h1>Cured/Dischared  : <%= cured  %></h1>
    <h1>Deaths: <%= death %></h1>
    <form action="/" method="post">
        <input type="text" name="statename"  placeholder="statename">
        <button type="submit">submit</button>
    </form>

</body>
</html>