


.title{
    font-family: 'Balsamiq Sans', cursive;
    margin-top: 40px;
    margin-left: 100px;
}
.boxx{
    display: inline-block;

}


.blue{
    height: 200px;
    width: 200px;
    display: inline-block;
    border-radius: 10px;
    background: linear-gradient(to bottom, #a5c9fd 0%, #a5c9fd 6%, #a7cbff 8%, #a5c9fd 11%, #a7cbff 11%, #aacffc 28%, #b0d5ff 44%, #b0d6fb 48%, #b5dbff 62%, #b4dbfc 62%, #b8dffe 75%, #bae2fb 79%, #bce4fe 91%, #bde6fa 96%, #bee7fd 100%);
   text-align: center;
    margin: 70px 100px 70px 200px;






}

.green{
    height: 200px;
    width: 200px;
    background: linear-gradient(to bottom, #9ae69c 0%, #9ce999 5%, #9cea9e 6%, #9cea9e 6%, #a0e99a 10%, #a3eb95 24%, #adee92 36%, #adee90 40%, #b3ef8f 45%, #b0f08f 46%, #b4f18a 50%, #b7f18d 51%, #b6f08a 53%, #baf18b 58%, #c4f780 77%, #c9f681 86%, #ccfa7e 90%, #cbf77c 94%, #cff87e 96%, #cff87e 100%);
    display: inline-block;
    border-radius: 10px;
    margin: 70px 100px;
    text-align: center;


}

.red{
    border-radius: 10px;
    height: 200px;
    display: inline-block;
    margin: 70px 100px 70px 100px;
   text-align: center;
   width: 200px;
    background: linear-gradient(to bottom, #ff8582 0%, #fe8685 16%, #ff908e 44%, #fe908f 53%, #ff9692 62%, #ff9597 67%, #ff9a98 84%, #ff9b9b 85%, #fe9c9d 91%, #ff9e98 96%, #ff9d9c 96%, #ff9e9d 100%);
}

.in{
    
    margin-top: 50px;
    margin-left: 600px;
    border-radius: 5px;
    height: 50px;

}
.b{
    margin-top: 50px;
    margin-left: 650px;
}